* {
  background-color: rgb(255, 255, 255);
}

body {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 10s;
}

.button {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 2rem;
  transition: 0.66s;
  background-image: linear-gradient(
    to bottom right,
    rgb(202, 202, 202),
    rgb(175, 175, 175),
    rgb(65, 65, 65)
  );
}

.button:hover {
  border: 0.3rem solid rgb(0, 0, 0);
  scale: 1.23;
  cursor: pointer;
  box-shadow: 23px 23px 23px black;
}

.button:active {
  cursor: grabbing;
  scale: 1.1;
  border: rem solid white;
  box-shadow: 10px 10px 10px black;
}

.button > #font {
  background: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 135%;
}
body:has(button:active) {
  background-color: blue;
}
